@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ===== Reset y base tipográfica ===== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0.5px rgb(229 ,231 ,235);
    font-family: 'Roboto', sans-serif;
}



html {
    font-size: 62.5%;
    height: 100%;
}

html, body {
    background-color: #171717;
    color: #FFF;
    display: flex;
    flex-direction: column;
}

body {
    height: 100%;
}

.header__logo-title{
    font-size: 2rem;
}

h2 {
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
}

p {
    font-size: 1.6rem;
}


.header {
    padding: 16px 24px;
    border-bottom-style: solid;
    background-color: #333;
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: inline-flex;
    flex-direction: row;
}

.header__logo-subtitle {
    font-size: 12px;
}

.header__logo-title {
    font-weight: 500;
    letter-spacing: 0.05rem;
}

.header__logo-img {
    width: 42px;
    height:42px;
    padding: 5px;
    background-color: #3B82F6;
    border-radius: 5px;
}

.header__logo-text {
    padding: 5PX;
}

.header__user {
    display: flex;
    flex-direction: row;
    min-width: 300px;
    justify-content: space-between;
}

.header__user--justify {
    justify-content: flex-end;
}

.header__user-info {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 140px;
}

.header__user-info p{
    font-size: 14px;
    width: 100%;
}

.header__user-subtitle {
    background-color: #FEE2E2;
    color: #991B1B;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 15px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__user-rol {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
    width: 100%;
}

.header__user-rol img {
    width: 27.5px;
    height: 27.5px;
    margin-right: 5px;
}

.header__user-info p {
    padding: 5px 10px 0 10px;
}

.header__user-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 150px
}

.initials, .card__initials{
    font-size: 1.4rem;
    border-style: solid;
    padding: 5px;
    border-radius: 50%;
    background-color: #3B82F6;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__user-img {
    width: 36px;
    height: 36px;
    padding: 5px;
    cursor: pointer;
}

.main {
    padding: 3.2rem 2.4rem;
    width: 100%;
    max-width: 128rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}

.main--justify-center {
    justify-content: center;
}

.main__info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between ;
}

.main__info div {
    margin-top: 4px;
}

.main__button, .header__button, .main__modal-button, .main__modal-button-editar {
    border-radius: 10px;
    background-color: #3B82F6;
    color:#FFF;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 1.6rem;
    height: 40px;
    cursor: pointer;
}

.main__modal-button {
    width: 100%;
}

.main__modal-button__container.editar {
    justify-content: space-between;
    align-items: center;

}

.main__modal-button-editar.cerrar, .main__modal-button-editar.guardar {
    width: 180px;
    align-items: center;
    justify-content: center;
}

.main__button img {
    width: 24px;
    height: 24px;
}

.main__container-inputs, .main__container__inputs-editar {
    padding: 1.6rem;
    margin-top: 2.4rem;
    background-color: #333;
    border-radius: 10px;
    border-style: solid;
    width: 100%;
}

.main__container-inputs, .main__container__filters, .main__container__search {
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
}

.search, .main__container__search {
    width: 100%;
}

.main__container__search {
    position: relative;
}

.main__container__search img {
    position: absolute;
    left: 1.6rem;
    width: 16px;
    height: auto;
}

.search {
    height: 100%;
    font-size: 1.6rem;
    background-color: #333;
    color: #FFF;
    padding: 8px 16px 8px 40px;
    border-radius: 10px;
    border-style: solid;
    height: 40px;
}

.search::placeholder {
    color: #FFF;
    font-size: 1.6rem;
}

.main__container__filter-roles, .main__container__filter-estados, .main__container__inputs-editar {
    border-radius: 10px;
    background-color: #333;
    color:#FFF;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 1.6rem;
    height: 40px;
    border-style: solid;
}

.main__container__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto;
    border-radius: 10px;
    margin-top: 24px;
    gap: 24px;
    width: 100%;
}

.main__card {
    padding: 24px;
    border-style: solid;
    border-radius: 10px;
    background-color: #333;
    min-height: 250px;
    min-width: 350px;
}

.card__options {
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
}

.card__initials{
    height: 48px;
    width: 48px;
    font-size: 16px;
}

.card__user-name {
    font-size: 1.6rem;
}

.card__user-mail {
    font-size: 1.4rem;
    margin-top: 8px;
}

.card__user-info {
    padding-top: 8px;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
}

.card__user-rol, .card__user-status, .administrador, .inactivo, .manager, .usuario, .activo {
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 15px;
    font-size: 12px;
    align-items: center;
}

.administrador, .inactivo {
    background-color: #FEE2E2;
    color: #991B1B;
}

.manager {
    background-color: #DBEAFE;
    color: #1E40AF;
}

.usuario, .activo {
    color: #166534;
    background-color: #DCFCE7;
}

.card__user-status {
    margin-left: 8px;
}

.card__user-dates {
    margin-top: 8px;
    padding-top: 8px;
}

.card__user-create, .card__user-last-access {
    font-size: 12px;
}

.card__icons button {
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
}

.card__icons button img {
    height: 24px;
    width: 24px;
    pointer-events: auto;
}

.card__icons button[title="editar"], .card__icons button[title="eliminar"] {
    margin-left: 4px;
}


.main__modal-bienvenida, .main__modal-login, .main__modal-usuario, .main__modal-editar {
    background-color: #333;
    border-style: solid;
    border-radius: 10px;
    padding: 32px;
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:
    0 0 10px rgba(51, 51, 51, 1),
    0 10px 15px -3px rgba(51, 51, 51, 1),
    0 4px 6px -4px rgba(51, 51, 51, 1);
}

.main__logo-img {
    height: 64px;
    width: 64px;
    padding: 5px;
    background-color: #3B82F6;
    border-radius: 10px;
}

.main__modal-bienvenida span {
    font-size: 2.4rem;
    margin-bottom: 4px;
}

.main__modal-bienvenida h2{
    font-size: 1.8rem;
    margin-bottom: 8px;

}

.main__modal-bienvenida p {
    font-size: 1.6rem;
}

.main__modal-button span {
    font-size: 16px;
    margin: 0;
}

.main__modal-bienvenida div, .main__modal-login div, .main__modal-editar form {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 38.4rem;
}

.main__modal-login div {
    max-width: 50rem;
}

.main__modal-login div h2 {
    padding-bottom: 16px;
    text-align: left;
    width: 100%;
}

.main__modal-login .main__modal-login__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
}

.main__modal-login__buttons .main__modal-button {
    width: 190px;
}

.main__modal-login input {
    width: 40rem;
    border-radius: 10px;
    background-color: #333;
    border-style: solid;
    color:#FFF;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 1.6rem;
    height: 40px;
}

.main__modal-login .main__modal-login__container {
    margin-bottom: 0;
}

.main__modal-usuario__icons {
    width: 16px;
    height: 16px;

}

.main__modal-usuario__portada__titulo .main__modal-usuario__icons.cancelar {
    cursor: pointer;
}

.main__modal-usuario, .main__modal-usuario__portada, .main__modal-usuario__portada__titulo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main__modal-usuario, .main__modal-editar {
    width: 500px;
    z-index: 20;
    position: fixed;

}

.main__modal-editar .main__modal__form-editar, .main__modal__form-editar div {
    width: 100%;
}

.main__modal__form-editar div {
    padding-top: 16px;
    align-items: flex-start;
    text-align: left;
}

.main__modal__form-editar div label {
    font-size: 16px;
    width: 100%;

}

.main__modal-usuario__portada__titulo {
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 24px;
}

.main__modal-usuario__portada__titulo h2{
    font-size: 20px;
}

.main__modal-usuario__portada__presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.main__modal-usuario__portada__presentacion h3 {
    font-size: 20px;
}

.initials--modal__usuario {
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 500;
}

.main__modal-usuario__detalles {
    margin-top: 24px;
}

.main__modal-usuario__detalles div h4, .main__modal-usuario__detalles div div div p  {
    font-size: 14px
}

.main__modal-usuario__detalles span {
    font-size: 12px
}

.main__modal-button__container {
    margin-top: 24px;
    padding-top: 16px;
}



.main__modal-button__container.editar, .main__container__filters.editar {
    display: flex;
    flex-direction: row;
}

.main__container__filters.editar {
    flex-direction: column;
    width: 100%;
}

.main__container__filters.editar select {
    width: 100%;
}

.main__modal-usuario__info-personal, .main__modal-usuario__permisos-estado, .main__modal-usuario__actividad {
    padding-top: 16px;
    border-top: solid 0.5px;
    margin-top: 16px;
}

.main__modal-usuario__info-personal{
    margin-top: 0;
}

.modal-usuario__container {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}

.modal-usuario__container-img, .modal-usuario__container-text {
    display: flex;
    
}

.modal-usuario__container-text {
    flex-direction: column;
    align-items: left;
    margin-left: 12px;
}

.modal-usuario__container-text p, .modal-usuario__container-text span{
    margin: 5px 0 0 0;
}

.modal-usuario__container-img {
    align-items: center;
}

.hide {
    display: none;
}

.overlay {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

input.main__container__inputs-editar {
    margin-top: 16px;
}